<h1> Renew Verification Link</h1>

<form action="" method="post">
    {% csrf_token %}
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" value="">
    <input type="submit" value="OK">
    {% if username and successful == True %}
    <h3> Successfully renewed link for <b>{{username}}</b>! </h3>
    {% endif %}
    {% if username and successful == False %}
    <p style="color:red;font-size:20px",>  <b>User <u>{{username}}</u> does not exist!</b>  </p>
    {% endif %}
</form>